
extends ../layout

block content

	#header
		.container
			.row
				h1 Edit your profile

	.container
		.form(class="animated fadeIn")
			a(href="/profile/#{user_id}")
				button(style="width:100%") go to profile

			form(action="/profile" method="post")

				.field-wrap
					label First Name 
						input(type='text' name="first" placeholder="Bobby" value=profile.first)

				.field-wrap
					label Last Name 
						input(type='text' name="last" placeholder="Lee" value=profile.last)

				.field-wrap
					label Email 
						input(type="email" name="email" placeholder="bobby@lee.com" value=profile.email)
					
				.field-wrap
					label Phone 
						input(type="text" name="phone" placeholder="1234567890" value=profile.phone)

				.field-wrap
					label Company 
						input(type='text' name="company" placeholder="example@uwaterloo.ca" value=profile.company)

				.field-wrap
					label About 
						input(type='text' name="about" placeholder="my passion is yarn knitting" value=profile.about)
				
				.field-wrap
					label Youtube video id 
						input(type="text" name="youtube"  placeholder="zSAJ0l4OBHM" value=profile.youtube)

				p(style="display:inline") please include 
					pre(style="display:inline") https:// 
					| in the URL
				.field-wrap
					label Facebook 
						input(type="url" name="facebook" placeholder="https://facebook.com/#{profile.company}" value=profile.facebook)

				.field-wrap
					label Instagram 
						input(type="url" name="instagram" placeholder="https://instagram.com/#{profile.company}" value=profile.instagram)



				if error
					.field-wrap
						div(id="error" class="animated fadeIn")
							p= error
				.row
					div(class="one-half column")
						a(class="button button-primary" style="width:100%;background-color:red; border-color:red;" href="/auth/signout") Sign out
					div(class="one-half column")
						input(class="button-primary" type='submit' value="Submit")

