html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(property="og:title" content="profile of #{profile.first}")
		meta(property="og:type" content="website")
		meta(property="og:description" content="#{profile.about}")
		link(rel="shortcut icon" type="image/x-icon" href="/Leafii/assets/favicon.ico")
		link(rel="stylesheet" href="/Skeleton-2.0.4/normalize.css")
		link(rel="stylesheet" href="/Skeleton-2.0.4/skeleton.css")
		link(rel="stylesheet" href="/Leafii/stylesheet/fonts.css")
		link(rel="stylesheet" href="/Leafii/stylesheet/app.css")
		title Profile of #{profile.first}
	body
		div(class="top-banner")
			div(class="container")
				h1(class="center") #{profile.first}
					b #{profile.last} 
					| - #{profile.company}
				h6(class="center")
					a(href="mailto:#{profile.email}") #{profile.email} 
					span | #{profile.phone}


		div(class="container")
			a(id="Profile")
			h2(class="center")
				span #{profile.about}

			hr
			p My passion is about yarns. I weave and crochet all day and everyday. I like them because they are warm and fuzzy. I like to spend half of my day trying to make a warm sweater. What the nutella is going on? that means nothing. I have this grand dream of weaving a giant sock for the lady that lives up the street and I will be the first to ever give a gift to show me the money and the scissor was the sharpest thing I have ever made into a rock and then i smoked him in the face. afterwards we played stacraft and much icecream was spent
			p Yorkdale has a pringles program that makes matresses for bedsores. I weaved the bed cover for them. Damn that was alot of sheeps I had to slay to get the damn yarns. I have the best hands to crochet because they are so purple. You wont believe how slow I weave them. It took me a couple thousand dollars to eat my sandwich in the right time with the right people. What do you think about the scammer on the site of the alot of the butt plugs? how is the tape not so slippery? The chips were christian and the wine was buttery. I dont understand much of the problem but here is the start.
		
			div(class="row")
				img(class="banner" src="https://cdn1.vox-cdn.com/thumbor/jYdNrIjPUAFhnS0B76wNpOr6OM0=/0x100:1920x1180/1280x720/cdn0.vox-cdn.com/uploads/chorus_image/image/47407204/e3-2015-show-floor-nintendo-yarn-yoshi_1920.0.0.jpg")

			p Duba duba my friend. This is the loyal meaning of life; in and out of itself. This is the greatness that you can provide about me and the contraint of Lagrangian multipliers. The highlights of my trips werent all the fantastic other than riding the camel into the desert. I will one day want to live in the desert and fill in the void of the sands. I will make it happen one day. I will let the world be consumed by the white whole to have travelled the distance of light years where the light is no longer the light but the darkness of the soul.
			hr

			a(id="Product")
			h2(class="center") Product Demo
			div(class="row video")
				<iframe width="420" height="315" src="https://www.youtube.com/embed/#{profile.youtube}" frameborder="0" allowfullscreen></iframe>

			p Muba duba is the very opposite it is the lack of the slacking oat meal of the day. It is the worst case of the best cases. I will then elaboare the words I will have to speak out of my heart. Pitching my ideas come naturally and thus I will have the slight opportunity of the I captured too much attention into the latch of the basket. let the thoughts flow through and the pringles will shallow up to the beach. I will then android the hell out of apple and then bring doom to the company. Hi bunny funny punny dummy. I like to eat oranges but not the peels. 

			div(class="row")
				img(class="banner" src="http://2.bp.blogspot.com/-Q6kq-Jm8O48/Ut0o4UXzmRI/AAAAAAAAD_8/dPakawdSXiE/s1600/Yarn+balls+image.jpg")

			p Mung beans are the best kinds of the beans you can find around waterloo. It has this flavor that no one else has around the area of kw you can make the best kind of coffee of the right lady. In the current city of marblot we can find the flaws in the traffic system. there are nearly 94 cars that like to flunk and not do its tasts in automation. they like to give into the tempation and eat all the gas up. this is a huge problem in the zoo sector as the animals are being stuffed with too much carbs and the enzymes are not reproducing the same amount of work done over time.

		div(class="footer")
			ul(class="footer-list")
				li(class="footer-item")
					a(class="footer-link" href="#Profile") Top
				li(class="footer-item")
					a(class="footer-link" href="#Product") Product
				li(class="footer-item")
					a(class="footer-link" href="#") Nothing
			div(class="sns-buttons")
				a(href=profile.facebook)
					img(src="/Leafii/assets/fb.svg")
				a(href=profile.insta)
					img(src="/Leafii/assets/insta.svg")
			h6
				b powered by 
					a(href="http://leafii.com") Leafii
			h6 Waterloo, On &copy; 2016
